# Normalize line endings to LF
* text=auto eol=lf

# Binary assets
*.png binary
*.jpg binary
*.webp binary
*.ogg binary
*.wav binary
*.mp3 binary
*.glb binary
*.ttf binary
*.otf binary
*.res binary
*.scn binary
